.coin_card {
  margin: 0.5rem;
  padding: 1.5rem;
  cursor: pointer;
  height: 200px;
}

p {
  text-align: center;
}

.cr_img {
  max-width: 4.688rem;
  max-height: 4.688rem;
}

.symbols {
  text-transform: uppercase;
}

.loss {
  color: red;
}

.profit {
  color: green;
}

.profit::before {
  content: "+";
}