.home_card_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  flex-wrap: wrap;
}

/* coin page */
.coin {
  padding: 1.5rem;
  display: flex;
}

.coin_card {
  padding: 1.5rem;
  width: 50%;
}

.coin_dis {
  text-align: justify;
}

.coin_img {
  width: 55%;
  margin: auto;
}

.coin_title {
  font-size: 2rem;
  font-weight: 700;
  color: #FF971D;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

.public_score{
  font-size: 1.25rem;
  color: #FF971D;
  text-align: left;
  margin: 0.5rem 0;
}

.coin_high{
  text-align: left;
  color: green;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.coin_low{
  text-align: left;
  color: red;
  font-weight: 500;
  margin-bottom: 0.5rem;
}